name: mlops-pipeline 

on:
  workflow_dispatch:
    inputs:
      run_all:
        description: 'Run all tests'
        required: false
        default: 'true'
        
      run_data_processing:
        description: 'Run data processing tests'
        required: false
        default: 'false'
      run_model_training:
        description: 'Run model training tests'
        required: false
        default: 'false'
      run_build_and_publish_docker:
        description: 'Run build and publish docker tests'
        required: false
        default: 'false'
  release:
    types: [created]
    branches: [main]

jobs:
    data_processing:
      if: ${{ github.event.inputs.run_all == 'true' || github.event.inputs.run_data_processing == 'true' }}
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repository
          uses: actions/checkout@v3
            
        - name: Set up python
          uses: actions/setup-python@v5
          with:
                python-version: '3.11'

        - name: Install dependencies
          run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt

        - name: Run Data Processing
          run: |
            python src/data/run_processing.py \
                --input data/raw/house_data.csv \
                --output data/processed/cleaned_house_data.csv

        - name: Run Feature Engineering
          run: |
            python src/features/engineer.py \
                --input data/processed/cleaned_house_data.csv \
                --output data/processed/featured_house_data.csv \
                --preprocessor models/trained/preprocessor.pkl
        - name: Upload processed data artifact
          uses: actions/upload-artifact@v3
          with:
                name: processed-data
                path: data/processed/featured_house_data.csv
        
        - name: upload processor artifact
          uses: actions/upload-artifact@v3
          with:
                name: preprocessor
                path: models/trained/preprocessor.pkl

    model_training:
        if: ${{ github.event.inputs.run_all == 'true' || github.event.inputs.run_model_training == 'true' }}
        runs-on: ubuntu-latest
        needs: data_processing
        steps:
            - name: Checkout code
              uses: actions/checkout@v3
            
            - name: Set up python
              uses: actions/setup-python@v5
              with:
                python-version: '3.11'
            
            - name: Install dependencies
              run: |
                    python -m pip install --upgrade pip
                    pip install -r requirements.txt
            
            - name: Download processed data artifact
              uses: actions/download-artifact@v3
              with:
                name: processed-data

            - name: Download preprocessor artifact
              uses: actions/download-artifact@v3
              with:
                  name: preprocessor

            - name: enable mlflow tracking server
              run: |
                    docker pull ghcr.io/mlflow/mlflow:latest
                    docker run -d -p 5555:5000 --name mlflow-tracking-server ghcr.io/mlflow/mlflow:latest \
                    mlflow server --host 0.0.0.0 \
                    --backend-store-uri \
                    sqlite:///mlflow.db \
                    --default-artifact-root /tmp/mlruns

            - name: wait for mlflow server to be ready
              run: |
                    for i in {1..10}; do \
                        if curl -s http://localhost:5555; then \
                            echo "MLflow server is up!"; \
                            break; \
                        else \
                            echo "Waiting for MLflow server..."; \
                            sleep 5; \
                        fi; \
                    done

            - name: Train Model
              run: |
                    python src/models/train_model.py \
                    --config configs/model_config.yaml \
                    --data data/processed/featured_house_data.csv \
                    --models-dir models \
                    --mlflow-tracking-uri http://localhost:5555

            - name: Cleaning up mlflow server
              run: |
                    docker stop mlflow-tracking-server
                    docker rm mlflow-tracking-server

    build_and_publish_docker:
        if: ${{ github.event.inputs.run_all == 'true' || github.event.inputs.run_build_and_publish_docker == 'true' }}
        runs-on: ubuntu-latest
        needs: model_training
        steps:
            - name: Checkout code
              uses: actions/checkout@v3 

            - name: download trained model artifact
              uses: actions/download-artifact@v3
              with:
                name: trained-model
                path: models/
            
            - name: Download preprocessor artifact
              uses: actions/download-artifact@v3
              with:
                  name: preprocessor
                  path: models/trained/

            - name: login to docker hub
              uses: docker/login-action@v3
              with:
                username: ${{ vars.DOCKER_HUB_USERNAME }}
                password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
            
            - name: set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build and Push Docker Image
              uses: docker/build-push-action@v6
              with:
                context: .
                push: true
                tags: ${{ vars.DOCKER_HUB_USERNAME }}/fastapi:${{ github.sha }}
                file: Dockerfile